<%= form_with(model: signature) do |form| %>
  <% if signature.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(signature.errors.count, "error") %> prohibited this signature from being saved:</h2>

      <ul>
        <% signature.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.label :document_id, style: "display: block" %>
    <%= form.text_field :document_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
