<p style="color: green"><%= notice %></p>

<%= render @signature %>

<div>
  <%= link_to "Edit this signature", edit_signature_path(@signature) %> |
  <%= link_to "Back to signatures", signatures_path %>

  <%= button_to "Destroy this signature", @signature, method: :delete %>
</div>
